<% include partials/header %>

<div class="container">
    
    <p>Here is your qr</p>
    
    <img src="images/qr.png" alt="QR code should be here">
    <!--<img src="Anything.jpg" alt="work">-->

    
</div>

<% include partials/footer %>