<% include partials/header %>

<div class="container">
    <p></p>
    <p></p>
    <p></p>
    <h1>Help Page</h1>
    
    <P>Information about the PharmAssist system will be given here.</P>
</div>

<% include partials/footer %>